In [1]:
import pandas as pd
import numpy as np
import statistics
from scipy.stats import ttest_ind

In [2]:
df=pd.read_csv('dataset w7.csv')
df

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

# 1. Carry out descriptive analytics on the dataset

In [3]:
mean=df['Total Marks'].mean()
print('mean of a total marks is :',mean)

mean of a total marks is : 32.32142857142857

In [4]:
SD=df['Total Marks'].std()
print('SD of a total marks is :',SD)

SD of a total marks is : 12.454520438984368

In [5]:
df.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [6]:
Gender=df['Gender'].value_counts()
Gender

female    16
male      12
Name: Gender, dtype: int64

In [7]:
df1=df.groupby('Gender')['Test preparation'].value_counts()
df1

Gender  Test preparation
female  none                12
        completed            4
male    none                 9
        completed            3
Name: Test preparation, dtype: int64

# 2. Check whether female and male students scored the same marks

In [8]:
#H0:males and females score same marks
#H1:males and females score different marks
male=df[df["Gender"]=="male"][['Total Marks']]
female=df[df["Gender"]=="female"][['Total Marks']]
_,p =ttest_ind(male,female)
alpha=0.05
if p >alpha:
    print('Accept the null hypothesis(H0)')
else:
        print('Reject null hypothesis(H0)')

Accept the null hypothesis(H0)

That means males and females scored same marks

# 3. Whether test preparation helps the students?

In [9]:
#H0:test preparation helped the students
#H1:test preparation didnt helped students
tc=df[df["Test preparation"]=="completed"][['Total Marks']]
tn=df[df["Test preparation"]=="none"][['Total Marks']]
_,p=ttest_ind(tc,tn)
alpha=0.05
print("p value",p)
print("t score",_)
if p >alpha:
    print('Accept H0')
else:
    print('Reject H0')

p value [0.00126713]
t score [3.61436375]
Reject H0

That means test preparation didnt helped students